.contact-container {
  position: relative;
  width: 100%;

  margin-top: 2rem;

  transition: all 0.5s ease-in-out;
}

.contact-container a {
  font-size: 1.5rem;

  font-weight: 600;
  color: var(--darkGrayColor);

  text-decoration: none;
}

.contact-container a:hover {
  color: var(--activeColor);
}
