/*--------------------------------------------------------------
# HEADER STYLE
--------------------------------------------------------------*/

.header {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--voidColor);
    color: var(--whiteColor);
    padding: 0 80px;
    margin: 0;
    box-shadow: var(--boxShadowMin);
    z-index: 999;
    transition: all 0.3s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
}

.header .logo-img {
    width: auto;
    height: 60px;
    padding: 10px 0;
}

.header .header-icon {
    display: block;
    margin: 0 10px;
    cursor: pointer;
}

.header .header-icon:hover {
    color: var(--activeColor);
}

.header .header-icon svg {
    width: 20px !important;
    height: 20px !important;
}

@media screen and (max-width: 1024px) {
    .header {
        padding: 0 40px;
    }
}

@media screen and (max-width: 992px) {
    .header {
        padding: 0 20px;
    }
}

@media screen and (max-width: 720px) {
    .header .logo-img {
        height: 60px;
    }
}

@media screen and (max-width: 567px) {
    .header {
        padding: 0 20px;
    }

    .header .logo {
        font-size: 20px;
    }
}

.mobile-nav-toggle {
    padding: 0;
    margin: 0;
    margin-right: 20px;
    display: none;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    color: var(--whiteColor);
}

.mobile-nav-toggle:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 992px) {
    .mobile-nav-toggle {
        display: block;
        visibility: visible;
        opacity: 1;
        z-index: 9999;
    }
}

.mobile-nav-toggle svg {
    width: 32px !important;
    height: 32px !important;
}

/* Desktop Nav Menu */

.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
    float: left;
}

.nav-menu a,
.nav-menu ul button {
    display: block;
    position: relative;
    padding: 40px 15px;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    transition: color 0.2s ease-in-out;
    color: var(--whiteColor);
}

.nav-menu a:hover,
.nav-menu ul button:hover,
.nav-menu li:hover>a {
    color: var(--activeColor);
    text-decoration: none;
}

.nav-menu .active {
    color: var(--activeColor);
    text-decoration: none;
}

.nav-menu .drop-down button {
    display: block;
    position: relative;
    padding: 40px 15px;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    transition: color 0.2s ease-in-out;
}

/* .nav-menu .drop-down>button::after {
    content: "⮟";
    margin-left: 5px;
    font-family: monospace;
    font-weight: 600;
    line-height: 0;
  } */

.nav-menu .drop-down:hover>button {
    color: var(--activeColor);
    text-decoration: none;
}

.nav-menu .drop-down ul {
    display: block;
    position: absolute;
    top: calc(100% + 80px);
    transform: translateX(-25%);
    padding: 10px 20px;
    background: var(--whiteColor);
    box-shadow: var(--boxShadow);
    transition: all 1s step-end;
    border-radius: 15px;

    z-index: 9999;
    opacity: 0;
    visibility: hidden;
}

.nav-menu .drop-down:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.nav-menu .drop-down li {
    position: relative;
    white-space: nowrap;
    float: left;
}

.nav-menu .drop-down ul button {
    display: block;
    position: relative;
    padding: 10px 5px;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    transition: color 0.25s ease-in-out;
}

.nav-menu .drop-down button:hover {
    color: var(--activeColor);
    text-decoration: none;
}

.nav-menu .drop-down .active {
    color: var(--activeColor);
    text-decoration: none;
}

.nav-menu .sign-in-btn {
    padding: 10px 15px;
    border-radius: 10px;
}

/* Mobile Nav Menu */

.mobile-nav {
    position: absolute;
    background-color: var(--voidColor);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: calc(100% + 100px);
    right: 0;
    bottom: 0;
    left: 0;
    transition: all .5s ease-in-out;
    padding: 20px;
    height: fit-content;
    box-shadow: 0 10px 20px -5px rgba(10, 20, 20, 0.1);

    z-index: 9999;
    opacity: 0;
    visibility: hidden;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav-active {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.mobile-nav ul li {
    width: 100%;
    padding: 15px 20px;
}

.mobile-nav ul li button {
    text-align: start;
    width: 100%;
}

.mobile-nav a,
.mobile-nav button {
    display: block;
    position: relative;
    outline: none;
    color: var(--whiteColor);
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    transition: color 0.2s ease-in-out;
}

.mobile-nav a:hover,
.mobile-nav ul button:hover,
.mobile-nav li:hover>a {
    color: var(--activeColor);
    text-decoration: none;
}

.mobile-nav .active {
    color: var(--activeColor);
    text-decoration: none;
}

.mobile-nav .drop-down button {
    display: block;
    position: relative;
    outline: none;
    font-weight: 600;
    text-transform: capitalize;
    transition: color 0.2s ease-in-out;
}

.mobile-nav .drop-down>button:hover {
    color: var(--activeColor);
    text-decoration: none;
}

.mobile-nav .drop-down ul {
    padding-top: 10px;
    position: relative;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
}

.mobile-nav .drop-down ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
    padding-left: 20px;
}

.mobile-nav .drop-down ul li::before {
    content: "➤";
    margin-right: 10px;
    font-family: monospace, monospace;
    font-weight: 600;
    line-height: 0;
}

.mobile-nav .drop-down ul li:last-child {
    padding-bottom: 0;
}

.mobile-nav .sign-in-btn {
    padding: 12px 20px;
    margin-top: 10px;
    border-radius: 10px;
}

@media screen and (max-width: 567px) {
    .mobile-nav {
        padding: 10px;
    }
}

/* PAGE TOP MARGIN */

.page-top-margin {
    margin-top: 60px;
}

@media screen and (max-width: 720px) {
    .page-top-margin {
        margin-top: 40px;
    }
}

/* Profile Options */

.header .nav-menu .sign-in-area {
    margin-left: 10px;
}

.header .mobile-nav .sign-in-area {
    margin-left: 20px;
    margin-bottom: 10px;
}

.header .user-profile-options {
    position: relative;
}

.header .user-profile-options * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header .user-profile-options>ul {
    width: fit-content;
    min-width: 140px;
    display: block;
    position: absolute;
    top: calc(100% + 80px);
    transform: translateX(-100%);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background: var(--whiteColor);
    box-shadow: var(--boxShadow);
    transition: all 0.5s ease-in-out;

    z-index: 0;
    opacity: 0;
    visibility: hidden;
}

.header .user-profile-options>ul>li {
    transition: all 0.2s ease-in-out;
}

.header .user-profile-options ul>li>button {
    width: 100%;
    display: block;
    outline: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    text-align: start;
    text-transform: capitalize;
    transition: all 0.2s ease-in-out;
}

.header .user-profile-options ul>li>button:hover {
    background-color: rgba(10, 20, 20, 0.1);
    color: var(--activeColor);
}

@media screen and (max-width: 992px) {
    .header .user-profile-options>ul {
        transform: translateX(0px);
    }
}

.header .show-options>ul {
    top: calc(100% + 40px);

    z-index: 999;
    opacity: 1;
    visibility: visible;
}