.app__sidebar {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  background-color: var(--whiteColor);
}

.app__sidebar .sidebar-item {
  cursor: pointer;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 1rem;
  margin: 0.5rem 0;
  margin-right: 0.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;

  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.app__sidebar .sidebar-item svg {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  color: var(--grayColor);
  transition: all 0.3s ease-in-out;
}

.app__sidebar .sidebar-item:hover {
  background-color: #a139ca36;
  color: var(--activeColor);
  font-weight: 600;

  box-shadow: 0 0 20px rgba(51, 51, 51, 0.1);
}

.app__sidebar .selected {
  background-color: #a139ca36;
  color: var(--activeColor);
  font-weight: 600;

  box-shadow: 0 0 20px rgba(51, 51, 51, 0.1);
}

.app__sidebar .sidebar-item:hover svg,
.app__sidebar .selected svg {
  color: var(--activeColor);
}

@media screen and (max-width: 768px) {
  .app__sidebar .sidebar-item > span {
    display: none;
  }
}
