.app__cart-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;

    transition: all .5s ease-in-out;
}

.app__cart-container .box-header {
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid var(--lightGrayColor);
}

.app__cart-container .box-header>p {
    font-size: 1.2rem;
    font-weight: 600;
}

.app__cart-container .cart-items {
    position: relative;
    background-color: var(--whiteColor);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(51, 51, 51, 0.1);

    flex: 8;

    margin: 0 1rem;
}


.app__cart-container .cart-amount-box {
    position: relative;
    background-color: var(--whiteColor);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(51, 51, 51, 0.1);

    flex: 3;

    margin: 0 1rem;
}

.app__cart-container .cart-items .item-container {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.cart-item-card {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    margin: 1rem;
    margin-top: 0;
}

.cart-item-card:last-child {
    margin-bottom: 0;
}

.cart-item-card .item-img {
    position: relative;
    width: 10rem;
    height: 10rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.cart-item-card .item-img>img {
    width: 100%;
    aspect-ratio: 1.0;
    object-fit: contain;
}

.cart-item-card .details {
    margin-left: 2rem;

    display: flex;
    flex-direction: column;
}

.cart-item-card .details>a {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;

    color: var(--primaryTextColor);
    margin-bottom: 1rem;
}

.cart-item-card .details>a:hover {
    color: var(--activeColor);
}

.cart-item-card .details>span {
    color: var(--voidColor);
    font-weight: 700;
    margin-bottom: 1rem;
}

.cart-item-card .details>p {
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;

    margin-top: 1rem;
}

.cart-item-card .details>p:hover {
    color: var(--activeColor);
}


@media screen and (max-width: 768px) {
    .app__cart-container {
        flex-direction: column;
    }

    .app__cart-container .cart-items {
        flex: 1;

        margin: 0 1rem;
    }


    .app__cart-container .cart-amount-box {
        flex: 1;

        margin: 0 1rem;
        margin-top: 1rem;
    }
}

.emptyCart {
    margin: auto;
    text-align: center;
    padding: 10vmax;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emptyCart>svg {
    font-size: 5vmax;
    color: var(--activeColor);
}

.emptyCart>p {
    font-size: 18px;
}

.emptyCart>a {
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
    margin-top: 1vmax;
    padding: 1vmax 3vmax;
    cursor: pointer;
    font: 400 16px "Roboto";
    text-decoration: none;
}

.cartPage {
    padding: 5vmax;
}

.cartHeader {
    background-color: var(--activeColor);
    width: 90%;
    box-sizing: border-box;
    margin: auto;
    color: white;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    font: 300 14px "Roboto";
}

.cartHeader>p {
    margin: 10px;
}

.cartHeader>p:last-child {
    text-align: end;
}

.cartContainer {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
}

.cartInput {
    display: flex;
    align-items: center;
    height: 8vmax;
}

.cartInput>button {
    border: none;
    background-color: rgba(0, 0, 0, 0.616);
    padding: 0.5vmax;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
}

.cartInput>button:hover {
    background-color: rgba(0, 0, 0, 0.767);
}

.cartInput>input {
    background-color: transparent;
    border: none;
    width: fit-content;
    max-width: 80px;
    text-align: center;
    outline: none;
    font: 400 14px "Roboto";
    color: rgba(0, 0, 0, 0.74);
}

.cartSubtotal {
    display: flex;
    padding: 0.5vmax;
    height: 8vmax;
    align-items: center;
    box-sizing: border-box;
    font: 300 14px cursive;
    justify-content: flex-end;
    color: rgba(0, 0, 0, 0.753);
}

.cartGrossProfit {
    display: grid;
    grid-template-columns: 2fr 1.2fr;
}

.cartGrossProfitBox {
    border-top: 3px solid var(--activeColor);
    margin: 1vmax 4vmax;
    box-sizing: border-box;
    padding: 2vmax 0;
    font: 400 16px "Roboto";
    display: flex;
    justify-content: space-between;
}

.checkOutBtn {
    display: flex;
    justify-content: flex-end;
}

.checkOutBtn>button {
    background-color: tomato;
    color: white;
    border: none;
    padding: 1vmax 4vmax;
    width: 50%;
    font: 300 16px "Roboto";
    margin: 1vmax 4vmax;
    cursor: pointer;
    border-radius: 30px;
}

@media screen and (max-width: 768px) {
    .cartPage {
        padding: 0;
        min-height: 60vh;
    }

    .cartHeader {
        width: 100%;
        font: 300 1.7vmax "Roboto";
        grid-template-columns: 3fr 1fr 1fr;
    }

    .cartContainer {
        width: 100%;
        grid-template-columns: 3fr 1fr 1fr;
    }

    .cartInput {
        height: 20vmax;
    }

    .cartInput>button {
        padding: 1.5vmax;
    }

    .cartInput>input {
        max-width: 40px;
    }

    .cartSubtotal {
        padding: 1.5vmax;
        height: 20vmax;
        font: 300 2vmax "Roboto";
    }

    .cartGrossProfit {
        display: grid;
        grid-template-columns: 0fr 2fr;
    }

    .cartGrossProfitBox {
        padding: 2vmax;
        font: 300 2vmax "Roboto";
    }

    .checkOutBtn>button {
        padding: 2vmax 4vmax;
        width: 100%;
        font: 300 2vmax "Roboto";
    }
}