.preview-img {
    width: 160px;
    height: 160px;
    margin: auto;
    object-fit: cover;
    aspect-ratio: 1.0;
    border-radius: 50%;
    background-color: var(--lightGrayColor);
    border: 1px solid #dfdfdf;
    overflow: hidden;
}