.app__checkout-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;

    transition: all .5s ease-in-out;
}

.app__checkout-container .box-header {
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid var(--lightGrayColor);
}

.app__checkout-container .box-header>p {
    font-size: 1.2rem;
    font-weight: 600;
}

.app__checkout-container .summary-items {
    position: relative;
    background-color: var(--whiteColor);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(51, 51, 51, 0.1);

    flex: 8;
    height: fit-content;

    margin: 0 1rem;
}

.app__checkout-container .cart-amount-box {
    position: relative;
    height: fit-content;
    background-color: var(--whiteColor);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(51, 51, 51, 0.1);

    flex: 3;

    margin: 0 1rem;
}

.summary-items .shipping-info {
    padding: 1rem;
    border-bottom: 1px solid var(--lightGrayColor);
}

.shipping-info .info-tile {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.info-tile>p {
    font-size: 1.1rem;
    font-weight: 600;
}

.info-tile>span {
    font-size: 1rem;
    margin-top: 0.25rem;
}

.info-tile:last-child {
    margin-bottom: 0;
}

.summary-items .cart-items .item-list {
    padding: 1rem;
}

.item-list .item-card {
    display: flex;
    flex-direction: row;
}

.item-list .item-card img {
    width: 10rem;
    height: auto;
    max-height: 10rem;
    object-fit: contain;
}

.item-list .item-card .details {
    display: flex;
    flex-direction: column;
}

.item-list .item-card .details>a {
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;

    color: var(--primaryTextColor);
    margin-bottom: 1rem;
}

.item-list .item-card .details>a:hover {
    color: var(--activeColor);
}

@media screen and (max-width: 768px) {
    .app__checkout-container {
        flex-direction: column;
    }

    .app__checkout-container .summary-items {
        flex: 1;

        margin: 0 1rem;
    }


    .app__checkout-container .cart-amount-box {
        flex: 1;

        margin: 0 1rem;
        margin-top: 1rem;
    }
}